.editor__main-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.editor__control {
  max-width: 420px;
}

.editor--focused {
  border: 2px solid var(--bs-primary);
  border-radius: 0.5rem;
}
