{
  "openapi": "3.0.4",
  "info": {
    "title": "FacturX.NET",
    "description": "FacturX.NET API - Work in progress. <br/>\nBuilt on Sunday, 20 April 2025",
    "contact": {
      "name": "Ismail Bennani",
      "url": "https://github.com/FacturX-NET/FacturXDotNet/issues",
      "email": "facturx.net@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/FacturX-NET/FacturXDotNet/blob/main/LICENSE"
    },
    "version": "0.5.8-alpha.5+pr95.14561870132.1"
  },
  "servers": [
    {
      "url": "https://pr95.facturxdotnet.org/api"
    }
  ],
  "paths": {
    "/info/build": {
      "get": {
        "tags": [
          "Information"
        ],
        "summary": "Build",
        "description": "Get information about the current build of the API.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/info/hosting": {
      "get": {
        "tags": [
          "Information"
        ],
        "summary": "Hosting",
        "description": "Get information about the current hosting environment of the API application.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostingInformationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/info/dependencies": {
      "get": {
        "tags": [
          "Information"
        ],
        "summary": "Dependencies",
        "description": "Get information about the dependencies of the API application, especially about their licenses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate/facturx": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate FacturX Document",
        "description": "Generate a FacturX Document from a base PDF and Cross-Industry Invoice data.",
        "parameters": [
          {
            "name": "skipValidation",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "pdf",
                  "cii"
                ],
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "xmp": {
                        "$ref": "#/components/schemas/IFormFile"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "pdf": {
                        "$ref": "#/components/schemas/IFormFile"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "cii": {
                        "$ref": "#/components/schemas/IFormFile"
                      }
                    }
                  },
                  {
                    "type": "array",
                    "items": {
                      "required": [
                        "file"
                      ],
                      "type": "object",
                      "properties": {
                        "file": {
                          "$ref": "#/components/schemas/IFormFile"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/IFormFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate/cii": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate Cross-Industry Invoice",
        "description": "Generate a Cross-Industry Invoice XML file from structured data.",
        "parameters": [
          {
            "name": "skipValidation",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossIndustryInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IFormFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate/pdf/standard": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate PDF",
        "description": "Generate a PDF file from the Cross-Industry Invoice structured data.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPdfRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/IFormFile"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate/pdf/standard/language-packs": {
      "get": {
        "tags": [
          "Generate"
        ],
        "summary": "Get predefined language packs",
        "description": "Get the predefined language packs for the standard PDF generator. These packs can serve as a starting point for custom language packs.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StandardPdfGeneratorLanguagePackDto2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/generate/pdf/standard/language-packs/{languagePackName}": {
      "get": {
        "tags": [
          "Generate"
        ],
        "summary": "Get predefined language pack",
        "description": "Get the predefined language pack with the given name for the standard PDF generator.",
        "parameters": [
          {
            "name": "languagePackName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardPdfGeneratorLanguagePackDto2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/extract/xmp": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract XMP metadata",
        "description": "Extract XMP metadata from a FacturX PDF file or an XML file.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XmpMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/extract/cii": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract Cross-Industry Invoice",
        "description": "Extract Cross-Industry Invoice data from a FacturX PDF file or an XML file.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrossIndustryInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/extract/xmp-cii": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Extract XMP and Cross-Industry Invoice",
        "description": "Extract the XMP Metadata and the Cross-Industry Invoice data from a FacturX PDF.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "$ref": "#/components/schemas/IFormFile"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XmpMetadataAndCrossIndustryInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/validate/cii": {
      "post": {
        "tags": [
          "Validate"
        ],
        "summary": "Validate Cross-Industry Invoice",
        "description": "Validate the given.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossIndustryInvoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApplicableHeaderTradeAgreement": {
        "type": "object",
        "properties": {
          "buyerReference": {
            "type": "string",
            "nullable": true
          },
          "sellerTradeParty": {
            "$ref": "#/components/schemas/SellerTradeParty"
          },
          "buyerTradeParty": {
            "$ref": "#/components/schemas/BuyerTradeParty"
          },
          "buyerOrderReferencedDocument": {
            "$ref": "#/components/schemas/BuyerOrderReferencedDocument"
          }
        },
        "nullable": true
      },
      "ApplicableHeaderTradeDelivery": {
        "type": "object",
        "nullable": true
      },
      "ApplicableHeaderTradeSettlement": {
        "type": "object",
        "properties": {
          "invoiceCurrencyCode": {
            "type": "string",
            "nullable": true
          },
          "specifiedTradeSettlementHeaderMonetarySummation": {
            "$ref": "#/components/schemas/SpecifiedTradeSettlementHeaderMonetarySummation"
          }
        },
        "nullable": true
      },
      "BuildInformationDto": {
        "required": [
          "version",
          "buildDate"
        ],
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "buildDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BuyerOrderReferencedDocument": {
        "type": "object",
        "properties": {
          "issuerAssignedId": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "BuyerTradeParty": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "specifiedLegalOrganization": {
            "$ref": "#/components/schemas/BuyerTradePartySpecifiedLegalOrganization"
          }
        },
        "nullable": true
      },
      "BuyerTradePartySpecifiedLegalOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "idSchemeId": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "CrossIndustryInvoice": {
        "type": "object",
        "properties": {
          "exchangedDocumentContext": {
            "$ref": "#/components/schemas/ExchangedDocumentContext"
          },
          "exchangedDocument": {
            "$ref": "#/components/schemas/ExchangedDocument"
          },
          "supplyChainTradeTransaction": {
            "$ref": "#/components/schemas/SupplyChainTradeTransaction"
          }
        }
      },
      "ExchangedDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "typeCode": {
            "$ref": "#/components/schemas/NullableOfInvoiceTypeCode"
          },
          "issueDateTime": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "issueDateTimeFormat": {
            "$ref": "#/components/schemas/NullableOfDateOnlyFormat"
          }
        },
        "nullable": true
      },
      "ExchangedDocumentContext": {
        "type": "object",
        "properties": {
          "businessProcessSpecifiedDocumentContextParameterId": {
            "type": "string",
            "nullable": true
          },
          "guidelineSpecifiedDocumentContextParameterId": {
            "$ref": "#/components/schemas/NullableOfGuidelineSpecifiedDocumentContextParameterId"
          }
        },
        "nullable": true
      },
      "HostingInformationDto": {
        "type": "object",
        "properties": {
          "unsafeEnvironment": {
            "type": "boolean"
          }
        }
      },
      "IFormFile": {
        "type": "string",
        "format": "binary"
      },
      "NullableOfDateOnlyFormat": {
        "enum": [
          "DateOnly",
          null
        ],
        "nullable": true
      },
      "NullableOfGuidelineSpecifiedDocumentContextParameterId": {
        "enum": [
          "Minimum",
          "BasicWl",
          "Basic",
          "En16931",
          "Extended",
          null
        ],
        "nullable": true
      },
      "NullableOfInvoiceTypeCode": {
        "enum": [
          "RequestForPayment",
          "DebitNoteRelatedToGoodsOrServices",
          "CreditNoteRelatedToGoodsOrServices",
          "MeteredServicesInvoice",
          "CreditNoteRelatedToFinancialAdjustments",
          "DebitNoteRelatedToFinancialAdjustments",
          "TaxNotification",
          "InvoicingDataSheet",
          "DirectPaymentValuation",
          "ProvisionalPaymentValuation",
          "PaymentValuation",
          "InterimApplicationForPayment",
          "FinalPaymentRequestBasedOnCompletionOfWork",
          "PaymentRequestForCompletedUnits",
          "SelfBilledCreditNote",
          "ConsolidatedCreditNoteGoodsAndServices",
          "PriceVariationInvoice",
          "CreditNoteForPriceVariation",
          "DelcredereCreditNote",
          "ProformaInvoice",
          "PartialInvoice",
          "CommercialInvoiceWhichIncludesPackingList",
          "CommercialInvoice",
          "CreditNote",
          "CommissionNote",
          "DebitNote",
          "CorrectedInvoice",
          "ConsolidatedInvoice",
          "PrepaymentInvoice",
          "HireInvoice",
          "TaxInvoice",
          "SelfBilledInvoice",
          "DelcredereInvoice",
          "FactoredInvoice",
          "LeaseInvoice",
          "ConsignmentInvoice",
          "FactoredCreditNote",
          "OcrPaymentCreditNote",
          "DebitAdvice",
          "ReversalOfDebit",
          "ReversalOfCredit",
          "SelfBilledDebitNote",
          "ForwardersCreditNote",
          "ForwardersInvoiceDiscrepancyReport",
          "InsurersInvoice",
          "ForwardersInvoice",
          "PortChargesDocuments",
          "InvoiceInformationForAccountingPurposes",
          "FreightInvoice",
          "ClaimNotification",
          "ConsularInvoice",
          "PartialConstructionInvoice",
          "PartialFinalConstructionInvoice",
          "FinalConstructionInvoice",
          "CustomsInvoice",
          null
        ],
        "nullable": true
      },
      "NullableOfVatOnlyTaxSchemeIdentifier": {
        "enum": [
          "Vat",
          null
        ],
        "nullable": true
      },
      "NullableOfXmpFacturXConformanceLevel": {
        "enum": [
          "Minimum",
          "BasicWl",
          "Basic",
          "Comfort",
          "En16931",
          "Extended",
          "XRechnung",
          null
        ],
        "nullable": true
      },
      "NullableOfXmpFacturXDocumentType": {
        "enum": [
          "Invoice",
          "Order",
          null
        ],
        "nullable": true
      },
      "NullableOfXmpPdfAConformanceLevel": {
        "enum": [
          "A",
          "B",
          null
        ],
        "nullable": true
      },
      "NullableOfXmpPdfAPropertyCategory": {
        "enum": [
          "Internal",
          "External",
          null
        ],
        "nullable": true
      },
      "NullableOfXmpThumbnailFormat": {
        "enum": [
          "Jpeg",
          null
        ],
        "nullable": true
      },
      "PackageDto": {
        "required": [
          "name",
          "author",
          "version",
          "license",
          "link"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        }
      },
      "PostPdfRequest": {
        "required": [
          "crossIndustryInvoice"
        ],
        "type": "object",
        "properties": {
          "crossIndustryInvoice": {
            "$ref": "#/components/schemas/CrossIndustryInvoice"
          },
          "options": {
            "$ref": "#/components/schemas/StandardPdfGeneratorOptionsDto"
          }
        }
      },
      "SellerTradeParty": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "specifiedLegalOrganization": {
            "$ref": "#/components/schemas/SellerTradePartySpecifiedLegalOrganization"
          },
          "postalTradeAddress": {
            "$ref": "#/components/schemas/SellerTradePartyPostalTradeAddress"
          },
          "specifiedTaxRegistration": {
            "$ref": "#/components/schemas/SellerTradePartySpecifiedTaxRegistration"
          }
        },
        "nullable": true
      },
      "SellerTradePartyPostalTradeAddress": {
        "type": "object",
        "properties": {
          "countryId": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "SellerTradePartySpecifiedLegalOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "idSchemeId": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "SellerTradePartySpecifiedTaxRegistration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "idSchemeId": {
            "$ref": "#/components/schemas/NullableOfVatOnlyTaxSchemeIdentifier"
          }
        },
        "nullable": true
      },
      "SpecifiedTradeSettlementHeaderMonetarySummation": {
        "type": "object",
        "properties": {
          "taxBasisTotalAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "taxTotalAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "taxTotalAmountCurrencyId": {
            "type": "string",
            "nullable": true
          },
          "grandTotalAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "duePayableAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "nullable": true
      },
      "StandardPdfGeneratorLanguagePackDto": {
        "type": "object",
        "properties": {
          "culture": {
            "type": "string",
            "nullable": true
          },
          "dateLabel": {
            "type": "string",
            "nullable": true
          },
          "contactLabel": {
            "type": "string",
            "nullable": true
          },
          "emailLabel": {
            "type": "string",
            "nullable": true
          },
          "defaultLegalIdType": {
            "type": "string",
            "nullable": true
          },
          "vatNumberLabel": {
            "type": "string",
            "nullable": true
          },
          "sellerReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "invoicedObjectIdentifierLabel": {
            "type": "string",
            "nullable": true
          },
          "salesOrderReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "buyerReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "callForTenderLabel": {
            "type": "string",
            "nullable": true
          },
          "projectReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "accountingReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "contractReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "purchaseOrderReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "invoiceReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "startPeriodLabel": {
            "type": "string",
            "nullable": true
          },
          "endPeriodLabel": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceDateLabel": {
            "type": "string",
            "nullable": true
          },
          "businessProcessLabel": {
            "type": "string",
            "nullable": true
          },
          "defaultInvoiceDocumentsTypeName": {
            "type": "string",
            "nullable": true
          },
          "defaultCreditNoteDocumentsTypeName": {
            "type": "string",
            "nullable": true
          },
          "documentTypeNames": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "buyerAddressLabel": {
            "type": "string",
            "nullable": true
          },
          "buyerIdentifiersLabel": {
            "type": "string",
            "nullable": true
          },
          "deliveryInformationLabel": {
            "type": "string",
            "nullable": true
          },
          "despatchAdviceLabel": {
            "type": "string",
            "nullable": true
          },
          "deliveryDateLabel": {
            "type": "string",
            "nullable": true
          },
          "receivingAdviceLabel": {
            "type": "string",
            "nullable": true
          },
          "currencyLabel": {
            "type": "string",
            "nullable": true
          },
          "totalWithoutVatLabel": {
            "type": "string",
            "nullable": true
          },
          "totalVatLabel": {
            "type": "string",
            "nullable": true
          },
          "totalWithVatLabel": {
            "type": "string",
            "nullable": true
          },
          "prepaidAmountLabel": {
            "type": "string",
            "nullable": true
          },
          "dueDateLabel": {
            "type": "string",
            "nullable": true
          },
          "dueAmountLabel": {
            "type": "string",
            "nullable": true
          },
          "pageLabel": {
            "type": "string",
            "nullable": true
          }
        },
        "nullable": true
      },
      "StandardPdfGeneratorLanguagePackDto2": {
        "type": "object",
        "properties": {
          "culture": {
            "type": "string",
            "nullable": true
          },
          "dateLabel": {
            "type": "string",
            "nullable": true
          },
          "contactLabel": {
            "type": "string",
            "nullable": true
          },
          "emailLabel": {
            "type": "string",
            "nullable": true
          },
          "defaultLegalIdType": {
            "type": "string",
            "nullable": true
          },
          "vatNumberLabel": {
            "type": "string",
            "nullable": true
          },
          "sellerReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "invoicedObjectIdentifierLabel": {
            "type": "string",
            "nullable": true
          },
          "salesOrderReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "buyerReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "callForTenderLabel": {
            "type": "string",
            "nullable": true
          },
          "projectReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "accountingReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "contractReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "purchaseOrderReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "invoiceReferencesLabel": {
            "type": "string",
            "nullable": true
          },
          "startPeriodLabel": {
            "type": "string",
            "nullable": true
          },
          "endPeriodLabel": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceReferenceLabel": {
            "type": "string",
            "nullable": true
          },
          "precedingInvoiceDateLabel": {
            "type": "string",
            "nullable": true
          },
          "businessProcessLabel": {
            "type": "string",
            "nullable": true
          },
          "defaultInvoiceDocumentsTypeName": {
            "type": "string",
            "nullable": true
          },
          "defaultCreditNoteDocumentsTypeName": {
            "type": "string",
            "nullable": true
          },
          "documentTypeNames": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "buyerAddressLabel": {
            "type": "string",
            "nullable": true
          },
          "buyerIdentifiersLabel": {
            "type": "string",
            "nullable": true
          },
          "deliveryInformationLabel": {
            "type": "string",
            "nullable": true
          },
          "despatchAdviceLabel": {
            "type": "string",
            "nullable": true
          },
          "deliveryDateLabel": {
            "type": "string",
            "nullable": true
          },
          "receivingAdviceLabel": {
            "type": "string",
            "nullable": true
          },
          "currencyLabel": {
            "type": "string",
            "nullable": true
          },
          "totalWithoutVatLabel": {
            "type": "string",
            "nullable": true
          },
          "totalVatLabel": {
            "type": "string",
            "nullable": true
          },
          "totalWithVatLabel": {
            "type": "string",
            "nullable": true
          },
          "prepaidAmountLabel": {
            "type": "string",
            "nullable": true
          },
          "dueDateLabel": {
            "type": "string",
            "nullable": true
          },
          "dueAmountLabel": {
            "type": "string",
            "nullable": true
          },
          "pageLabel": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StandardPdfGeneratorOptionsDto": {
        "type": "object",
        "properties": {
          "logo": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "footer": {
            "type": "string",
            "nullable": true
          },
          "languagePack": {
            "$ref": "#/components/schemas/StandardPdfGeneratorLanguagePackDto"
          }
        },
        "nullable": true
      },
      "SupplyChainTradeTransaction": {
        "type": "object",
        "properties": {
          "applicableHeaderTradeAgreement": {
            "$ref": "#/components/schemas/ApplicableHeaderTradeAgreement"
          },
          "applicableHeaderTradeDelivery": {
            "$ref": "#/components/schemas/ApplicableHeaderTradeDelivery"
          },
          "applicableHeaderTradeSettlement": {
            "$ref": "#/components/schemas/ApplicableHeaderTradeSettlement"
          }
        },
        "nullable": true
      },
      "XmpBasicMetadata": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "creatorTool": {
            "type": "string",
            "nullable": true
          },
          "label": {
            "type": "string",
            "nullable": true
          },
          "metadataDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "modifyDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "baseUrl": {
            "type": "string",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmpThumbnail"
            }
          }
        },
        "nullable": true
      },
      "XmpDublinCoreMetadata": {
        "type": "object",
        "properties": {
          "contributor": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverage": {
            "type": "string",
            "nullable": true
          },
          "creator": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "date": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            }
          },
          "description": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "format": {
            "type": "string",
            "nullable": true
          },
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publisher": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "relation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rights": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "nullable": true
      },
      "XmpFacturXMetadata": {
        "type": "object",
        "properties": {
          "documentFileName": {
            "type": "string",
            "nullable": true
          },
          "documentType": {
            "$ref": "#/components/schemas/NullableOfXmpFacturXDocumentType"
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "conformanceLevel": {
            "$ref": "#/components/schemas/NullableOfXmpFacturXConformanceLevel"
          }
        },
        "nullable": true
      },
      "XmpMetadata": {
        "type": "object",
        "properties": {
          "pdfAIdentification": {
            "$ref": "#/components/schemas/XmpPdfAIdentificationMetadata"
          },
          "basic": {
            "$ref": "#/components/schemas/XmpBasicMetadata"
          },
          "pdf": {
            "$ref": "#/components/schemas/XmpPdfMetadata"
          },
          "dublinCore": {
            "$ref": "#/components/schemas/XmpDublinCoreMetadata"
          },
          "pdfAExtensions": {
            "$ref": "#/components/schemas/XmpPdfAExtensionsMetadata"
          },
          "facturX": {
            "$ref": "#/components/schemas/XmpFacturXMetadata"
          }
        }
      },
      "XmpMetadataAndCrossIndustryInvoice": {
        "required": [
          "xmpMetadata",
          "crossIndustryInvoice"
        ],
        "type": "object",
        "properties": {
          "xmpMetadata": {
            "$ref": "#/components/schemas/XmpMetadata"
          },
          "crossIndustryInvoice": {
            "$ref": "#/components/schemas/CrossIndustryInvoice"
          }
        }
      },
      "XmpPdfAExtensionsMetadata": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmpPdfASchemaMetadata"
            }
          }
        },
        "nullable": true
      },
      "XmpPdfAFieldMetadata": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "valueType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "XmpPdfAIdentificationMetadata": {
        "type": "object",
        "properties": {
          "amendment": {
            "type": "string",
            "nullable": true
          },
          "conformance": {
            "$ref": "#/components/schemas/NullableOfXmpPdfAConformanceLevel"
          },
          "part": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "nullable": true
      },
      "XmpPdfAPropertyMetadata": {
        "type": "object",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/NullableOfXmpPdfAPropertyCategory"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "valueType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "XmpPdfASchemaMetadata": {
        "type": "object",
        "properties": {
          "namespaceUri": {
            "type": "string",
            "nullable": true
          },
          "prefix": {
            "type": "string",
            "nullable": true
          },
          "property": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmpPdfAPropertyMetadata"
            }
          },
          "schema": {
            "type": "string",
            "nullable": true
          },
          "valueType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmpPdfATypeMetadata"
            }
          }
        }
      },
      "XmpPdfATypeMetadata": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "nullable": true
          },
          "field": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XmpPdfAFieldMetadata"
            }
          },
          "namespaceUri": {
            "type": "string",
            "nullable": true
          },
          "prefix": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "XmpPdfMetadata": {
        "type": "object",
        "properties": {
          "keywords": {
            "type": "string",
            "nullable": true
          },
          "pdfVersion": {
            "type": "string",
            "nullable": true
          },
          "producer": {
            "type": "string",
            "nullable": true
          },
          "trapped": {
            "type": "boolean",
            "nullable": true
          }
        },
        "nullable": true
      },
      "XmpThumbnail": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/NullableOfXmpThumbnailFormat"
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Information"
    },
    {
      "name": "Generate"
    },
    {
      "name": "Extract"
    },
    {
      "name": "Validate"
    }
  ]
}